canvas id="lastFiveDaysStepsChart" width="800" height="400"

p#updated
  ' Last Updated:
  | #{@last_updated}

#statistics
  div#left
    h4
      | Last 14 Days
    p
      ' High -
      | #{@high_steps} on #{@high_steps_date}
    p
      ' Low -
      | #{@low_steps} on #{@low_steps_date}
    p
      ' Average Steps -
      | #{@average_steps}

  div#right
    h4
      | All Time
    p
      ' High -
      | #{@all_high_steps} on #{@all_high_steps_date}
    p
      ' Low -
      | #{@all_low_steps} on #{@all_low_steps_date}

  div.clear


javascript:
  var ctx = $("#lastFiveDaysStepsChart").get(0).getContext("2d");
  var data = #{{@steps}};

  var options = {scaleOverlay:true,bezierCurve:false};

  var lastFiveDaysStepsChart = new Chart(ctx).Line(data, options);