doctype html
html
  head
    title Steps
    link href="http://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet" type="text/css"
    link media="screen, projection" href="/styles/style.css" type="text/css" rel="stylesheet"
    script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"
    script type="text/javascript" src="/scripts/chart.js"

  body.wrap

    #header
      h2
        | Steps

    == yield

  div#footer
    ' Built By
    a href="http://borwahs.com/" Rob Shaw