div#update-form
  form action="/update/steps/" method="post"
    p
      label for="password"
        | Password:
      br
      input type="password" required="required" name="password" id="password"
    p
      button type="submit"
        | Update