h1, h2, h3, h4, h5, h6 { padding:0; margin:0; }

button[type="submit"] {
  padding: 6px 12px;
  height: 30px;
  line-height:14px;
  font-size:14px;
  font-weight:bold;
}

input[type="password"] {
  font-size:18px;
  width:200px;
  height:26px;
  line-height:14px;
  padding:0 5px;
  border-radius:5px;
  border:1px solid #b8bbc2;
}

body {
  padding:30px;
  margin:0;
  line-height:1.5em;
  color:#333;
  background-color:#fff;
  font-family:'Cabin',sans-serif;
  letter-spacing:1px;
  font-weight:400;
  font-size:18px;
}

#header {
  margin-bottom:20px;
  text-align:center;
}

#updated {
  text-align:center;
}

#statistics {
  margin: 0 auto;
  text-align:center;
  width:600px;
}

#statistics p {
  margin:0;
  padding:0;
}

#statistics #left {
  float:left;
}

#statistics #right {
  float:right;
}

#footer {
  text-align:center;
  margin-top:20px;
}

#update-form {
  padding-left:200px;
}

.wrap {
  margin:0 auto;
  width:800px;
}

.clear { clear:both; }